{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'show_home_admin' %}" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        <span>WasteWise</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="{% url 'show_home_admin' %}">Home</a></li>
          <li class="dropdown"><a href="#"><span>Drivers</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="active" href="{% url 'add_drivers' %}">Add</a></li>
              <li><a class="active" href="{% url 'man_driver' %}">Manage</a></li>
              <li><a class="active" href="{% url 'search_driver' %}">Search</a></li>
              <li><a class="active" href="{% url 'assign_work' %}">Assign Work</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Garbage Bins</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="active" href="{% url 'add_garbage_bins' %}">Add</a></li>
              <li><a class="active" href="{% url 'man_garbage_bins' %}">Manage</a></li>
              <li><a class="active" href="{% url 'view_garbage_report' %}">Report</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto " href="{% url 'view_users_complaint' %}">Complaints</a></li>
          
          <li class="dropdown"><a href="#"><span>Admin</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="active" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'show_home_admin' %}">Home</a></li>
          <li>Garbage Bins</li>
        </ol>
        <h2>Manage Garbage Bins</h2>

      </div>
    </section>
    <br>
    <br>
    <section class="inner-page">
      <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-wrapper" style="overflow-x: auto; margin-top: 20px;">
            <table class="table table-bordered  table-hover">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Bin Id</th>
                  <th>Place</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>

                {% for i in drv %}

                  <tr scope="row">
                    <form action="{% url 'edit_gbin' %}" method="POST">
                        {% csrf_token %}
                        <td>{{i.S_id}}<input type="text" name="S_id" value="{{i.S_id}}" hidden></td>

                        <td>{{i.g_id}}</td>

                        <td>{{i.g_place}}</td>

                        <td><input type="text" name="g_lat" value="{{i.g_lat}}" required></td>
                        <td><input type="text" name="g_lng" value="{{i.g_lng}}" required></td>

                        <td><input type="submit" class="btn btn-outline-primary" name="edi" id="edi" value="Edit"></td>
                    </form>
                    <form action="{% url 'del_gbin' %}" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="S_id" value="{{i.S_id}}">
                          <td><input type="submit" class="btn btn-outline-danger" name="del" id="del" value="Delete"></td>
                        </form>
                  </tr>
                {% endfor %}           
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="{% url 'show_home_admin' %}" class="logo d-flex align-items-center">
              <img src="{% static 'assets/img/logo.png' %}" alt="">
              <span>WasteWise</span>
            </a>
            <p>
                With WasteWise, municipalities and waste management companies can efficiently monitor and manage garbage bins, optimize collection routes, and analyze waste trends to make informed decisions. Our platform empowers drivers with real-time updates on work assignments, optimal routes, and bin fill levels, ensuring timely and effective waste collection.
            </p>

          
          </div>
    </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>WasteWise</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>


  <script src="{% static 'assets/js/main.js' %}"></script>

  <script>

    function validateLat(input) {
      const LatPattern = /^[-+]?\d*\.?\d+$/;
      return LatPattern.test(input.value);
    }


    function validateLng(input) {
      const LngPattern = /^[-+]?\d*\.?\d+$/;
      return LngPattern.test(input.value);
    }


    // Function to handle form submission and validate inputs
    function validateForm(event) {
      const form = event.target.closest('form');
      const glat = form.elements['g_lat'];
      const glng = form.elements['g_lng'];


      let isValid = true;


      if (!validateLat(glat)) {
        alert('Latitude should contain numeric values only');
        isValid = false;
      }

      if (!validateLng(glng)) {
        alert('Longitude should contain numeric values only');
        isValid = false;
      }

      if (!isValid) {
        event.preventDefault(); // Prevent form submission
      }
    }

    // Add event listeners to form submission
    const editForms = document.querySelectorAll('form[action="{% url 'edit_gbin' %}"]');
    editForms.forEach(form => {
      form.addEventListener('submit', validateForm);
    });
  </script>

</body>

</html>
