{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'show_home_admin' %}" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        <span>WasteWise</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="{% url 'show_home_user' %}">Home</a></li>
          <li><a class="nav-link scrollto " href="{% url 'user_profile' %}">Profile</a></li>
          <li class="dropdown"><a href="#"><span>Complaints</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="active" href="{% url 'reg_complaint' %}">Register</a></li>
              <li><a class="active" href="{% url 'view_cm_status' %}">View Status</a></li>
            </ul>
          </li>
          
          <li class="dropdown"><a href="#"><span>User</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="active" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'show_home_admin' %}">Home</a></li>
          <li>Complaints</li>
        </ol>
        <h2>Complaint Status</h2>

      </div>
    </section>
    <br>
    <br>
    <section class="inner-page">
      <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-wrapper" style="overflow-x: auto; margin-top: 20px;">
            <table class="table table-bordered  table-hover">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Complaints</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>

                {% for i in drv %}

                  <tr scope="row">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <td style="width: 100px;">{{i.S_id}}<input type="text" name="S_id" value="{{i.S_id}}" hidden></td>

                        <td style="width: 300px;"><textarea readonly style="width: 300px;">{{i.complaint}}</textarea></td>
                        <td style="width: 300px;"><textarea readonly style="width: 300px;">{{i.status}}</textarea></td>


                    </form>
                  </tr>
                {% endfor %}           
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="{% url 'show_home_admin' %}" class="logo d-flex align-items-center">
              <img src="{% static 'assets/img/logo.png' %}" alt="">
              <span>WasteWise</span>
            </a>
            <p>
                With WasteWise, municipalities and waste management companies can efficiently monitor and manage garbage bins, optimize collection routes, and analyze waste trends to make informed decisions. Our platform empowers drivers with real-time updates on work assignments, optimal routes, and bin fill levels, ensuring timely and effective waste collection.
            </p>

          
          </div>
    </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>WasteWise</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>


  <script src="{% static 'assets/js/main.js' %}"></script>

  

</body>

</html>
